.text-primary {
  color:#86A69D !important;
}

.bg-warning-sub{
  background-color: #F2E8DF !important;
}

.bg-btn {
  background-color:#F2C6C2!important;
}
.border-left {
  text-align: left;
  font-size:small;
  font-weight: 100;
  border-color: solid #F2C6C2 ;
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #F2C6C2; }
}

/********** Template CSS ************/
h1,
.font-weight-bolder {
  font-weight: 900 !important;
}

h2,
h3,
.font-weight-bold {
  font-weight: 700 !important;
}

h4,
h5 .font-weight-medium {
  font-weight: 500 !important;
}

h6,
.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-thin {
  font-weight: 100 !important;
}

.text-stroke-header {
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
}

.btn {
  padding: 10px 25px;
  border-radius: 100px;
}

.btn-social {
  width: 45px;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 45px;
}

.form-control {
  border-radius: 25px;
}

.scroll-to-bottom {
  position: fixed;
  width: 20px;
  left: calc(50% - 10px);
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  text-align: center;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color:#86A69D;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}


.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}

.service-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}


.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
